.Companies {
    display: flex;
    margin: 0 19.29vw;
}

.Companies {
    flex: 1;
}

.Companies > * + * {
    margin-left: 1.5287em;
}

@media (max-width: 81.25em) {
    .Companies {
        display: flex;
        margin: 0 10vw;
    }
}

@media (max-width: 65em) {
    .Companies {
        margin: 0 5vw;
    }
}

@media (max-width: 55em) {
    .Companies {
        flex-direction: column;
    }
}
