.ButtonStuck {
    display: flex;
}

.ButtonStuck > * + * {
    padding: 0.375em 1em .375em;
}

.WithBg {
    background-color: #C7A17A;
    border-radius: 1.1875em;
    align-items: center;
    vertical-align: center;
    border: none;
    padding: 0.375em 1em .375em;
    font-family: Nunito;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.125;
    color: #F9FBFF;
}

.WithoutBg {
    background-color: unset;
    border: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.375;
    color: #415167;
}

.WithBg:focus,
.WithoutBg:focus {
    outline: none;
}