.Photos {
    display: flex;
    width: 100%;
    margin-top: 4.4375em;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.Photos > * {
}

.photo1 {
    display: block;
}

.photo1 img {
    max-width: 100%;
    width: 100%;
    box-shadow: -0.625em 0.9375em 0.625em rgba(0, 0, 0, .25);
    object-fit: cover;
}

.photo2 {
    z-index: 100;
    margin-left: -1.15em;
    margin-top: -4.4375em;
    object-fit: cover;
}

.photo2 img {
    width: 100%;
    box-shadow: -0.625em 0.9375em 0.625em rgba(0, 0, 0, .25);
    max-width: 100%;
    object-fit: cover;
}

.photo3 {
    z-index: 50;
    margin-left: -1.15em;
    object-fit: cover;
}

.photo3 img {
    width: 100%;
    box-shadow: -0.625em 0.9375em 0.625em rgba(0, 0, 0, .25);
    max-width: 100%;
    object-fit: cover;
}