.FooterBar {
    position: relative;
    display: block;
    padding: 0;
    background-image: url('/FooterBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.redCircle {
    z-index: 30;
    width: 7.3125em;
    height: 7.3125em;
    background-color: #FF1640;
    /*border: 4.375em solid #FF1640;*/
    border-radius: 50%;
}

.image {
    width: 100%;
}

.sliceCircle {
    z-index: 20;
    background-image: inherit;
    background-position: center;
    background-size: 100vw;
    position: absolute;
    width: 9.938em;
    height: 4.969em;
    border-top-left-radius: 4.969em;
    border-top-right-radius: 4.969em;
    -moz-border-radius-topleft: 4.969em;
    -moz-border-radius-topright: 4.969em;
    top: -4.835em;
    left: calc(50% - 4.969em);
}

@media (max-width: 35em) {
    .FooterBar {
        background-size: cover;
        background-position: center;
    }
    .sliceCircle {
        background-size: 100vw 30.5em;
        background-position: center bottom;
    }
}