.Header {
    font-size: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.secondLayer {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    height: 100%;
    width: 100%;
}
.wrapperImg {
    z-index: -100;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 52em) {
    .img {
        min-height: 37.5em;
    }
}

@media (max-width: 31.25em) {
    .img {
        min-height: 45em;
    }
}