.TabBarContainer {
    position: relative;
    display: flex;
    z-index: 10;
    margin-top: calc(68*100vw/1400);
    padding: 0 calc(134*100vw/1400) 0 calc(386*100vw/1400);
}

.TabBarImage {
    display: block;
    position: absolute;
    top: calc(-150*100vw/1400 + 150px);
    left: calc(130*100vw/1400);
    width: calc(490*1vw/14);
    object-fit: cover;
}

.TextBox {
    border: .04em solid #EDF0F5;
    background-color: #fff;
    padding: calc(64*100vw/1400) calc(66*100vw/1400) calc(64.25*100vw/1400) calc(298*100vw/1400);
}

.TextBox > * {
    margin: 0;
    padding: 0;
}

.Price {
    font-family: Nunito;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.2;
    color: #C7A17A;
}

.Title {
    margin: calc(12*100vw/1400) 0;
    font-family: Nunito;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.666;
    color: #232C38;
}

.Text {
    font-family: Nunito;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.375;
    color: #151D28;
}

.MinimalStuck {
    display: flex;
    margin: calc(24*100vw/1400) 0 calc(46*100vw/1400);
}

.MinimalStuck > * + * {
    margin-left: calc(43*100vw/1400);
}

.ButtonStuck {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ButtonStuck > * {
    cursor: pointer;
    transition: all .3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(150,150,150, .3) 7.5%, #EDF0F5 10%, #EDF0F5 100%);
    padding: calc(60*100vw/1400) calc(38*100vw/1400);
    font-size: 1.875em;
    line-height: 1.1333;
    font-family: Montserrat;
    font-weight: 900;
    opacity: .3;
    color: #415167;
}

.active {
    opacity: 1;
    border-bottom: .04em solid #EDF0F5;
    background: #fff;
    box-shadow: rgba(0,0,0,0.11) 0 .05em .1em 0;
    border-top: .04em solid #EDF0F5;
}

@media (max-width: 28.75em) {
    .TextBox {
        border: .04em solid #EDF0F5;
        background-color: #fff;
        padding: calc(500*100vw/1400) calc(66*100vw/1400) calc(64.25*100vw/1400) calc(66*100vw/1400);
    }

    .TabBarImage {
        top: 0;
        left: calc(260*100vw/1400);
    }

    .TabBarContainer {
        z-index: 10;
        margin-top: calc(68*100vw/1400);
        padding: 0 calc(134*100vw/1400) 0 calc(150*100vw/1400);
    }
}