.Description {
    color: #370045
}

.Description > * + * {
    margin-top: .5em;
}

.Description > h3 {
    margin-bottom: .25em;
}
.Description > a {
    color: rgb(127, 127, 213);
    transition: color .2s ease-out;
}

.Description > a:hover {
    color: rgb(222, 135, 222);
    text-decoration: underline;
}

.Ps {
    color: #222222;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}