.FooterContent {
    font-size: 1rem;
    margin-top: 0.125em;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.6875em 3.6875em 0;
}

.FooterHeader {
    display: flex;
    justify-content: space-between;
}

.FooterHello {
    margin-top: 6.75em;
    margin-bottom: 6.9375em;
    flex: 1;
    font-size: 1.75em;
    display: flex;
    justify-content: center;
}

.LeftBarWrapper {
    display: flex;
    justify-content: space-between;
    width: 58.66%;
}

.StuckRefWrapper {
    line-height: 1.4;
    padding-left: 3.046875em;
    font-size: 1rem;
    display: flex;
    width: 66.66%;
    justify-content: space-between;
}

.StuckRef {
    display: flex;
    flex-direction: column;
    font-size: 1.125em;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
}

.StuckRef > * + * {
    margin-top: 0.6875em;
}

.StuckRefTitle {
    margin-bottom: 0.6875em;
}

.StuckRefItem {
    font-weight: normal;
}

.StuckRefRight {
    padding: 1em 0 0;
    font-size: 1rem;
    font-family: Segoe UI;
    display: flex;
    flex-direction: column;
}

.StuckRefRightSocials {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.StuckRefRightSocials > * {
    margin-right: 0.5em;
}

.StuckRefRightTitle {
    display: flex;
    font-weight: bold;
    margin-top: 0.9375em;
    width: 100%;
    justify-content: flex-end;
}

.StuckRefRightItem {
    margin-top: .5em;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-weight: normal;
}


@media (max-width: 47.5em) {
    .LeftBarWrapper {
        flex-direction: column;
        width: 60%;
    }

    .FooterHello {
        margin-top: 3.725em;
        margin-bottom: 3.45em;
    }

    .StuckRefWrapper {
        margin-top: 0.9375em;
        width: 100%;
        padding-left: 0;
    }

    .FooterContent {
        margin-top: 0;
    }

    .FooterHeader {
        margin-top: 1em;
    }
}

@media (max-width: 32em) {
    .StuckRefWrapper {
        flex-direction: column;
    }
    .FooterHello {
        margin-top: 1.6em;
        margin-bottom: 1.4em;
    }
    .StuckRef > * + * {
        margin-top: 0;
    }

    .StuckRef {
        flex-direction: row;
    }

    .FooterContent {

    }

    .StuckRef > * + * {
        margin-left: 1em;
    }
}

@media (max-width: 22em) {
    .FooterHeader {
        display: block;
    }
    .LeftBarWrapper {
        width: 100%;
    }
    .StuckRefRightSocials,
    .StuckRefRightTitle,
    .StuckRefRightItem {
        justify-content: flex-start;
    }
    .FooterHello {
        margin-top: 1em;
        margin-bottom: .75em;
    }
    .StuckRefRight {
        padding: 0;
        margin-top: 2em;
    }
}

