.InfoBarItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.InfoBarItemImg {
    display: block;
    max-width: 100%;
    width: 100%;
}

.InfoBarItemTitle {
    font-family: Nunito;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.1666;
    color: #232C38;
}

.InfoBarItemDescription {
    font-family: Nunito;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.375;
    color: #151D28;
}

@media (max-width: 45.5em) {

}