.Person {
    font-family: "Segoe UI";
    display: flex;
    flex-direction: column;
    margin-top: 3.8125em;
}

.Header {
    display: flex;
    width: 52.67%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    flex-wrap: wrap;
}

.HeaderTextWrapper {
    align-items: center;
    display: flex;
}

.NumberWrapper {
    width: 2.1875em;
    height: 2.1875em;
    display: flex;
    text-align: center;
    background-color: #FF1640;
    border-radius: 50%;
}

.Number {
    width: 100%;
    font-size: 1.125em;
    margin: auto;
}

.HeaderText {
    margin-left: 0.5625em;
    font-weight: bold;
    font-size: 1.125em;
}

.button {
    display: flex;
    background: url('/Rectangle 2.png') center;
    background-size: 100vw;
    outline: none;
    cursor: pointer;
    border-radius: 2em;
    border: none;
    padding: .25em 0.4375em;
    transition: box-shadow .3s ease-out;
    align-items: center;
    color: #2D2828;

    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.button:hover {
    box-shadow: inset 0 0 .5em 2em rgba(0, 0, 0, .15);
}

.button > * {
    margin-right: 0.375em;
}

.PersonContent {
    display: flex;
    align-items: flex-start;
    width: 100%;
    color: #2D2828;
    margin-top: 1.5625em;
}

.PersonBar {
    width: 52.67%;
    display: flex;
    background: url('/Rectangle 2.png') center;
    background-size: 100vw;
    padding: 0.875em 1.0625em;
    line-height: 1.5;
}

.PersonDescription {
    font-size: 1rem;
    margin-left: auto;
    color: #2D2828;
}

.PersonText {
    width: 36.63%;
    color: rgba(255, 255, 255, .7);
    margin-left: 4.5em;
    margin-right: 1.125em;
}

.Avatar {
    display: block;
    position: relative;
    height: content-box;
}

.imageIcon {
    position: absolute;
    top: 65%;
    left: 65%;
}

.toggleButton {
    background: #FF1640;
    width: 3em;
    height: 1.8125em;
    position: relative;
    border-radius: 1.8125em;
    margin-left: 0.5625em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toggleCircle {
    position: absolute;
    width: 1.6875em;
    height: 1.6875em;
    border-radius: 1.6875em;
    background: white;
    left: 0.0625em;
    transition: left .3s ease-out;
}

.isOpenButton {
    background: #2D2828;
}

.isOpenCircle {
    left: calc(100% - 0.0625em - 1.6875em);
}

@media (max-width: 45em) {
    .Header {
        width: 100%;
    }

    .PersonBar {
        width: 100%;
    }

    .PersonText {
        width: 100%;
        margin-top: 1.125em;
        margin-left: 0;
        margin-right: 0;
    }

    .PersonContent {
        flex-wrap: wrap;

    }
}

@media (max-width: 28em) {
    .button {
        margin-top: .5em;
    }

    .Header {
        flex-direction: column;
    }

    .PersonContent {

    }

    .PersonBar {
        flex-direction: column;
    }

    .PersonText {
        width: 100%;
        color: rgba(255, 255, 255, .7);
    }

    .PersonDescription {
        width: 100%;
        max-width: unset;
        margin-top: 1em;
        margin-right: auto;
        margin-left: unset;
    }
}