.Logo {
    width: 8.0625em;
    display: block;
    position: relative;
    list-style-type: none;
    align-items: center;
    height: auto;
}

.wrapperImg {
    z-index: -10;
    position: absolute;
    display: flex;
    width: 8.9375em;
    top: -25%;
    left: -10.2%;
}


.img {
    width: 100%;
    object-fit: cover;
}

.li {
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    align-items: center;
    z-index: 10;
}

.wrapperLi {
    font-size: 1.5625em;
    z-index: 10;
}