.Footer {
    width: 100%;
    display: flex;
    position: relative;
    padding: 3.3em 5em;
    justify-content: space-between;
    align-items: center;
}

.RefEmail {
    font-family: Rubik, -apple-system, Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.1667;
    color: #FFFFFF;
    opacity: 0.6;
}

.Image {
    position: absolute;
    display: block;
    left: calc(50% - 67px);
    top: calc(50% - 12px);
}

.InfoBox {
    display: flex;
    justify-content: space-between;
}

.InfoBox > * {
    font-size: 1.2em;
    line-height: 1.1667;
    font-family: Rubik, -apple-system, Roboto, serif;
    color: #fff;
    font-weight: 500;
    opacity: 0.6;
}

.InfoBox > * + * {
    margin-left: 3em;
}

@media (max-width: 27.5em) {
    .Footer {
        padding-top: 10em;
    }
    .Image {
        top: calc(35% - 12px);
    }
}

@media (max-width: 20em) {

}