.NavBar {
    font-weight: normal;
    font-style: normal;
    display: flex;
    margin-top: 2.1875em;
    margin-left: 3.4375em;
    margin-bottom: 5.875em;
    text-transform: uppercase;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .NavBar {
        margin-right: 5vw;
        justify-content: space-between;
    }
}

@media (max-width: 69.5em) {
    .NavBar {
        margin-bottom: 2.9375em;
    }
}

@media (max-width: 45em) {
    .NavBar {
        margin-bottom: 1.4em;
    }
}