/* autoprefixer grid: autoplace */

.InfoBar {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5.4475em 9.25em 8em;
}

.InfoBarStuck {
    width: 100%;
    margin-top: 4.5175em;
    display: flex;
    justify-content: space-between;
}
.InfoBarStuck > * + * {
    margin-left: 4.25em;
}

@media (max-width: 62.5em) {
    .InfoBar {
        padding: 2.7em 4.6em 4em;
    }

    .InfoBarStuck {
        margin-top: 2.7em;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 45.5em) {
    .InfoBarStuck {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2em;
    }
    .InfoBarStuck > * + * {
        margin-left: 0em;
    }
}