.ProductItem {
    display: flex;
    align-items: center;
}

.ImageBox {
    display: flex;
    min-width: calc(236 * 100vw / 1400);
    max-width: calc(236 * 100vw / 1400);
}

.Image {
    min-width: calc(238 * 100vw / 1400);
    max-width: calc(238 * 100vw / 1400);
    margin-bottom: -1px;
    display: block;
    object-fit: cover;
}

.BoxStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BoxStyle > .ImageBox {
    min-width: calc(363 * 100vw / 1400);
    max-width: calc(363 * 100vw / 1400);
}

.BoxStyle > .ImageBox > .Image {
    min-width: calc(363 * 100vw / 1400);
    max-width: calc(363 * 100vw / 1400);
}


.ProductMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: calc(42 * 100vw / 1400);
}

.ProductMenuPriceBar {
    display: flex;
    align-items: center;
}

.ProductMenuPriceBar > * + * {
    margin-left: 1em;
}

.ProductMenuPrice {
    padding: 0;
    margin: 0;
    font-family: Nunito, serif;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.2;
    color: #C7A17A;
}

.ProductMenuLineThrough {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Nunito, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.1875;
    text-decoration-line: line-through;
    color: #415167
}

.ProductMenuTitle {
    padding: 0;
    margin: 0.3333em 0 0;
    font-family: Nunito, serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.1666;
    color: #232C38;
}

.ProductMenuDescription {
    padding: 0;
    margin: 1.5em 0 0;
    font-family: Nunito, serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.375;
    color: #151D28;
}

.ProductMenuNavBar {
    display: flex;
    margin-top: 2.625em;
}

.ProductMenuNavBar > * + * {
    padding: 0.375em 1em .375em;
}

.ProductMenuBuyButton {
    background-color: #C7A17A;
    border-radius: 1.1875em;
    align-items: center;
    vertical-align: center;
    border: none;
    padding: 0.375em 1em .375em;
    font-family: Nunito, serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.125;
    color: #F9FBFF;
}

.ProductMenuRefButton {
    background-color: unset;
    border: none;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.375;
    color: #415167;
}

.ProductMenuBuyButton:focus,
.ProductMenuRefButton:focus {
    outline: none;
}

@media (max-width: 60em) {
    .ProductItem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Image {
        min-width: unset;
        max-width: 100%;
    }

    .ImageBox {
        min-width: unset;
        max-width: unset;
    }


}

@media (max-width: 42.5em) {
    .BoxStyle > .ImageBox {
        min-width: unset;
        max-width: unset;
    }

    .BoxStyle > .ImageBox > .Image {
        min-width: unset;
        max-width: 100%;
    }
}