/* autoprefixer grid: autoplace */

.RefBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 1.3125em 4.1875em;
    border-top: .0625em solid rgba(255, 255, 255, 0.2)
}


@media (max-width: 75.75em) {
    .RefBar {
        padding: 0.65em 2.55em;
    }
}

@media (max-width: 45em) {
    .RefBar {
        padding: .25em 1em;
    }
}

@media (max-width: 45em) {
    .RefBar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-grap: .5em;
    }
}