.TabBar {
    position: relative;
    padding: calc(86*100vw/1400) 0 calc(126*100vw/1400);
}

.BackgroundBox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 76.85vw;
    height: 100%;
    background-color: #EDF0F5;
}