.ImageStuck {
    border-radius: .25em;
    --var-height: 36.6em;
    --var-width: 32.5em;
    background-color: white;
    position: relative;
    z-index: 100;
    display: block;
    margin-top: -7.6em;
    margin-left: -4.1em;
    width: 36.6em;
    height: 32.5em;
    box-shadow: .1em .1em .5em #151515;
}

.ImageBox {
    opacity: 0;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    transition: opacity .3s ease-out;
    width: 100%;
    height: 100%;
}

.active {
    opacity: 1;
}

.ImageItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.StuckButtons {
    z-index: 500;
    position: absolute;
    display: block;
    top: 90%;
    left: calc(50% - 3.5rem);
}

.StuckButtons > .Button + .Button {
    margin-left: 2rem;
}

.Button {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    background-color: white;
    opacity: .4;
    width: 1rem;
    height: 1rem;
    border: none;
    border-radius: 50%;
    transition: opacity .3s ease-out;
    cursor: pointer;
}

.activeButton {
    opacity: 1;
}

.Button:focus {
    outline: none;
}

@media (max-width: 41.25em) {
    .ImageStuck {
        margin-top: 3em;
        margin-left: -2.05em;
    }
}

@media (max-width: 32.5em) {
    .ImageStuck {
        margin-top: 0;
        margin-left: 0;
    }
}